Package: ReadManga
Version: 2.0.0-1
Architecture: i386
Maintainer: gnu-archlinux
Depends: python3, python3-pyqt4, python3-pycurl, python3-requests, python3-urllib3, python3-pil, python3-bs4, python3-lxml, python3-psutil, python3-pip, curl
Section: sound,video,audio,multimedia
Description: Online Manga Reader for GNU/Linux
