#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=ReadManga
#Icon=mcomix
Exec=
Terminal=false
NoDisplay=false
Categories=AudioVideo;Audio;Video;Player;TV;
